<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount due (Ethan)</th>
    <th>Amount due (Others)</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.surname %></td>
    <td>&pound;<%= number_to_currency(user.amount_due_ethan, unit: "") %></td>
    <td>&pound;<%= number_to_currency(user.amount_due_others, unit: "") %></td>
  </tr>
  <% end %>
</table>

<div class="links">
  <p><%= link_to 'Back', root_url %></p>
</div>
